<div class="sidenav col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <a ui-sref="mobile">Mobiles</a>
    <a ui-sref="fashion">Fashion</a>
    <a ui-sref="sports">Sports</a>
    <h4>Filter by Brand</h4>
    
    <div ng-repeat="brand in brands" class="navbar-brands">
        <input type="checkbox" ng-model="brandfilter[$index]" ng-true-value="'{{brand}}'" /> {{brand}}</div>
   
    <h4>Filter by Price</h4>
    <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options">
    </rzslider>
  
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-md-offset-2">
   
    <div class="row ">
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" data-ng-repeat="fashion in fashionData | selectedTags1:brandfilter | filter: filterFn()">
            <div class="card">
                <div class="card-body">
                    <a><img class="button" src="{{fashion.image[0]}}" ng-click="setId(fashion.id)"></a>
                    <div class="card-title fashionCard">
                        <h4>{{fashion.name}}</h4>
                        <h4> ₹: {{fashion.price}}</h4>
                    </div>
                    <button class="btn btn-info details-button" ng-click=setId(fashion.id)>Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="sidenav col-md-2 col-sm-12 col-xs-12" style="position: sticky;">
        <div class="row">
            <div class="col-sm-6 col-md-12 col-xs-6">
                <div class="row">
                    <div class="col">
                        <a ui-sref="mobile">Mobiles</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a ui-sref="fashion">Fashion</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a ui-sref="sports">Sports</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-12 col-xs-6">
                <div class="row">
                    <div class="col">
                        <h4>Filter by Brand</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div ng-repeat="brand in brands" class="navbar-brands">
                            <input type="checkbox" ng-model="brandfilter[$index]" ng-true-value="'{{brand}}'" /> {{brand}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4>Filter by Price</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options">
                </rzslider>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12"  style="margin-top: 350px">
        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" data-ng-repeat="fashion in fashionData | selectedTags1:brandfilter | filter: filterFn()">
                <div class="card">
                    <div class="card-body">
                        <a><img class="button" src="{{fashion.image[0]}}" ng-click="setId(fashion.id)"></a>
                        <div class="card-title fashionCard">
                            <h4>{{fashion.name}}</h4>
                            <h4> ₹: {{fashion.price}}</h4>
                        </div>
                        <button class="btn btn-info details-button" ng-click=setId(fashion.id)>Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->