<!-- <div class="container">
    <div class="main col-md-10 col-md-offset-2 col-sm-10 col-xs-10">
         for mobiles
        <div class="row col-md-offset-1 carousel-style">
            <div class="row carousel-heading">
                <h2 style="display:inline;">Fashion </h2>
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="fashion">See More</button>
            </div>
            <div class="carousel slide" id="cCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3" ng-repeat="cloth in cData.slice(0,4)">
                                <img class="img-responsive" ng-src="{{cloth.image[0]}}" alt="Not Found" style="height: 200px;width:50%; margin-left: 15px" />
                                <div class="home__label-align text-center">{{cloth.name}}</div>
                                <div class="home__label-align text-center"> ₹: {{cloth.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 home__li-align home__carousel" ng-repeat="cloth in cData.slice(5,9)">
                                <img ng-src="{{cloth.image[0]}}" alt="Not Found" style="height: 200px;width:50% ; margin-left:15px;" />
                                <div class="home__label-align text-center">{{cloth.name}}</div>
                                 <div class="home__label-align text-center"> ₹: {{cloth.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#cCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -120px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                <a class="right carousel-control" href="#cCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -70px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
        for clothes
        <div class="row col-md-offset-1 carousel-style">
               <div class="row carousel-heading">
                <h2 style="display:inline;">Mobiles </h2>
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="mobile">See More</button>
            </div>
            <div class="carousel slide" id="mCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3" ng-repeat="mobile in mData.slice(0,4)">
                                <img ng-src="{{mobile.image[0]}}" alt="Not Found" style="height: 200px;width:50%; margin-left: 15px" />
                                <div class="home__label-align text-center">{{mobile.name}}</div>
                                     <div class="home__label-align text-center"> ₹: {{mobile.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row carousel-heading">
                            <div class="col-md-3 col-sm-3 home__li-align" ng-repeat="mobile in mData.slice(5,9)">
                                <img ng-src="{{mobile.image[0]}}" alt="Not Found" style="height: 200px;width:50%; margin-left: 15px" />
                                <div class="home__label-align text-center">{{mobile.name}}</div>
                                        <div class="home__label-align text-center"> ₹: {{mobile.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" data-target="#mCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -120px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                <a class="right carousel-control" data-target="#mCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -70px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            
        </div>
        for sports
        <div class="row col-md-offset-1 carousel-style">
               <div class="row carousel-heading">
                <h2 style="display:inline;">Sports </h2>
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="sports">See More</button>
            </div>
            <div class="carousel slide" id="sCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3 col-sm-3" ng-repeat="sportItem in sData.slice(0,4)">
                                <img ng-src="{{sportItem.image[0]}}" alt="Not Found" style="height: 200px;width:50%; margin-left: 15px" />
                                <div class="home__label-align text-center">{{sportItem.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{sportItem.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 home__li-align" ng-repeat="sportItem in sData.slice(5,9)">
                                <img ng-src="{{sportItem.image[0]}}" alt="Not Found" style="height: 200px;width:50%; margin-left: 15px" />
                                <div class="home__label-align text-center">{{sportItem.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{sportItem.price}}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" data-target="#sCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -120px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                <a class="right carousel-control" data-target="#sCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -70px;  color: black;background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          
        </div>
    </div>
</div> -->
<!-- <div class="container"> -->
<!---fashion-->
<!-- <div class="row"> -->
    <div class="sidenav col-md-2 col-sm-2">
        <a ui-sref="mobile">Mobiles</a>
        <a ui-sref="fashion">Fashion</a>
        <a ui-sref="sports">Sports</a>
    </div>
    <div class="col-md-offset-2 col-md-10 content-space">
        <!-- <div class="row upper__sidenav"> -->
           <!--  <div class="col-sm-12"> -->
               <!--  <a class="btn-full" ui-sref="mobile">Mobiles</a> -->
             <!--    <a class="btn-full" ui-sref="fashion">Fashion</a> -->
                <!-- <a class="btn-full" ui-sref="sports">Sports</a> -->
           <!--  </div> -->
       <!--  </div> -->
        <div class="row carousel-heading">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2 style="display:inline;">Fashion</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="fashion">See More</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="carousel slide" id="cCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" ng-repeat="cloth in cData.slice(0,4)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{cloth.image[0]}}" alt="Not Found" style="height:auto;width:100%; margin-left:25%" align="center" />
                                    <div class="home__label-align text-center">{{cloth.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{cloth.price}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row carousel-heading">
                                <div class="col-md-3 col-sm-3 col-xs-3 home__li-align home__carousel" ng-repeat="cloth in cData.slice(5,9)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{cloth.image[0]}}" alt="Not Found" style="height:auto;width:100%; margin-left:25%" align="center" />
                                    <div class="home__label-align text-center">{{cloth.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{cloth.price}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#cCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -50px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                    <a class="right carousel-control" href="#cCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -60px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row carousel-heading">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2 style="display:inline;">Mobiles</h2>
            </div>
            <div class="col-md-6  col-sm-6 col-xs-6">
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="mobile">See More</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="carousel slide" id="mCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="mobile in mData.slice(0,4)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{mobile.image[0]}}" alt="Not Found" style="height:auto; width:100%; " align="center" />
                                    <div class="home__label-align text-center">{{mobile.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{mobile.price}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row carousel-heading">
                                <div class="col-md-3 col-sm-3 col-xs-3 home__li-align" ng-repeat="mobile in mData.slice(5,9)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{mobile.image[0]}}" alt="Not Found" style="height:auto; width:100%; " align="center" />
                                    <div class="home__label-align text-center">{{mobile.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{mobile.price}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" data-target="#mCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -50px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                    <a class="right carousel-control" data-target="#mCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -60px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row carousel-heading">
            <div class="col-md-6 col-sm-6 col-xs-6 ">
                <h2 style="display:inline;">Sports</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button type="button" class="btn btn-info" style="float: right;" ui-sref="sports">See More</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="carousel slide" id="sCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="sportItem in sData.slice(0,4)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{sportItem.image[0]}}" alt="Not Found" style="height:auto; width:100%;" align="center" />
                                    <div class="home__label-align text-center">{{sportItem.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{sportItem.price}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 home__li-align" ng-repeat="sportItem in sData.slice(5,9)">
                                    <img class="img-responsive text-center carousel-img" ng-src="{{sportItem.image[0]}}" alt="Not Found" style="height:auto; width:100%;" align="center" />
                                    <div class="home__label-align text-center">{{sportItem.name}}</div>
                                    <div class="home__label-align text-center"> ₹: {{sportItem.price}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" data-target="#sCarousel" data-slide="prev" style="margin-bottom: 70px; margin-left: -50px;  color: black; background: none"><i class="glyphicon glyphicon-chevron-left" ></i></a>
                    <a class="right carousel-control" data-target="#sCarousel" data-slide="next" style="margin-bottom: 70px; margin-right: -60px;  color: black;background: none"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- </div> -->