<div class="sidenav col-md-2">
    <a ui-sref="mobile">Mobiles</a>
    <a ui-sref="fashion">Fashion</a>
    <a ui-sref="sports">Sports</a>
    <!--  <a href="#">Contact</a> -->
</div>
<!-- Page content -->
<div class="main col-md-10">
    <!--  for mobiles -->
    <div class="row">
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
    </div>
    <!-- for clothes -->
    <div class="row">
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
    </div>
    <!-- for sports -->
    <div class="row">
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa arcu, dictum ut turpis sed, lobortis dictum lacus. Pellentesque enim.
        </div>
    </div>
</div>