
    <div class="sidenav col-lg-2 col-md-2 col-sm-2 ">
        <a ui-sref="mobile">Mobiles</a>
        <a ui-sref="fashion">Fashion</a>
        <a ui-sref="sports">Sports</a>
        <h4 class="navbar-brands">Filter By Brand</h4>
     
        <div ng-repeat="brand in brands" class="navbar-brands">
            <!--   <label> -->
            <input type="checkbox" ng-model="brandfilter[$index]" ng-true-value="'{{brand}}'" class="brands-text" /> {{brand}}
            <!--       </label> -->
        </div>
        <h4 class="navbar-brands">Filter By Price</h4>
        <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
    </div>
    <div class=" col-lg-10 col-md-10 col-sm-10 col-sm-offset-2 content-space">
        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" ng-repeat="mobile in mobileData | selectedTags2:brandfilter | filter : filterFn()">
                <div class="card">
                    <div class="card-body">
                        <a><img src="{{mobile.image[0]}}" ng-click="setId(mobile.id)"></a>
                        <div class="card-title fashionCard">
                            <h4>{{mobile.name}}</h4>
                            <h4>₹:{{mobile.price}}</h4>
                        </div>
                        <button class="btn btn-info details-button" ng-click=setId(mobile.id)>Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
