.fashionCard {

height:15%;


} 
.cardImage
{

height: 100%;
width:60%;
}

.sidenav h3{

	color: #0000ff;
	}


	.sidenav a:hover {
    color: #f1f1f1;
}

.divText input {


	color: white;
 

}

.sidenav a{

   color:#fff;

}
.navbar-brands 
{

	   color:#fff;
	   padding-bottom: 10px;
	   

}