/* The sidebar menu */
.sidenav {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
   /* width: 160px;*/ /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1;*/ /* Stay on top */
    /*top: 0;*/ /* Stay at the top */
    /*
    */
    /* z-index:999;*/
    background-color: #fff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 20px;*/
/*   padding: 251px;*/
}

/* The navigation menu links */
.sidenav a {
    padding: 12px 22px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
}

.sidenav a:first-child {
    margin-top: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
/*.main {
    margin-left: 160px;  Same as the width of the sidebar 
    padding: 0px 10px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.home__label-align
{

    font-size: 15px;
    font-style: bold;
    color: black;
}
.home__carousel{

    max-height: 400px;
}

.carousel-style
{

    margin: 20px;
}

.carousel-heading{

    margin: 20px;
}
.content-space{

    position: relative;
    overflow: hidden;

}

.clear
{
  clear:both;
}

.carousel-inner{


    height: 55%;
    width: auto;
}

.upper__sidenav{

position: sticky;
font-size: 18px;
color: #0000ff !important;
padding-left: 10px;
}

.upper__sidenav a{
 text-align:center;
 color: #0000ff !important;
  padding: 12px 12px;

}


.btn-full:link,
.btn-full:visited{
    
    background-color:#fff;
     border: 1px solid #000;
    margin-top: 2px;
    margin-right: 17px;
    display: inline-block;
    padding: 5px 15px;
  /*  font-weight: 300;*/
    text-decoration: none;
    border-radius: 0px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:hover,
.btn-full:active{

 background-color: #cf6d17;
     border: 1px solid #cf6d17;


}
}

.sidenav1 {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
   /* width: 160px;*/ /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1;*/ /* Stay on top */
    /*top: 0;*/ /* Stay at the top */
    /*
    */
    /* z-index:999;*/
    background-color: #fff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 20px;*/
/*   padding: 251px;*/
}

/* The navigation menu links */
.sidenav1 a {
    padding: 12px 22px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
}

.sidenav1 a:first-child {
    margin-top: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav1 a:hover {
    color: #f1f1f1;
}