.page-footer{
	background: #2d3436;
	z-index: 9999;
	position: relative;
	padding: 20px 0;
}

.footer-headings
{

	font-size: 22px;
	color:white;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 16px;
	font-weight: 300;
	text-align: left;
}

.footer-content 
{
	color: #fff;
}

.footer-category-list
{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-category-list li {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-category-list li a {
	color: rgba(255,255,255,0.8);
}

.footer-social-image
{
	margin-right: 12px;
}

 @media only screen and (max-width: 500px) {
     .navBarRight
     {
        padding: 0px;
    }
}


.view-container
{

/*	padding-top: 50px;*/
	margin-left: 0px;
	padding-left:0px; 
	min-height: 600px;
}


.icon-small{

     font-size: 18px;
 
}
.navBar-class li a{

font-size: 18px;
color: #fff;

}

